<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            image-rendering: optimizeSpeed;
            /* Older versions of FF */
            image-rendering: -moz-crisp-edges;
            /* FF 6.0+ */
            image-rendering: -webkit-optimize-contrast;
            /* Webkit (non standard naming) */
            image-rendering: -o-crisp-edges;
            /* OS X & Windows Opera (12.02+) */
            image-rendering: crisp-edges;
            /* Possible future browsers. */
            -ms-interpolation-mode: nearest-neighbor;
            /* IE (non standard naming) */
            image-rendering: pixelated;
            /* Chrome 41 */

            background: #222;
            color: #fff;
        }

        canvas {
            padding: 0;
            margin: auto;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0
        }
    </style>
</head>

<body>
    <div id="game"></div>
</body>